html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
 }

#map { 
    height: 100%;
    width: 100%;
    z-index: 0;
}

#title_container{
    position: fixed;
    bottom: 2.5%;
    left: 2.5%;
    pointer-events: none;
}

#logo{
    height: 4em;
    display: block;
    float: left;
    padding: 0.8em;
}

#title{
    font-size: 2.5em;
    text-align: center;
    display: block;
    float: left;
    padding-top: 0.575em;
    margin: 0;
    color: white;
    -webkit-text-stroke-width: 0.03em;
    -webkit-text-stroke-color: black;
}